src/main/mule/gain-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c4442ff1-c19e-4ed9-9494-1027bfb28699" basePath="/" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gain-testFlow" doc:id="2727ac0c-a9f0-4b87-a8b7-2032a3c3d196" >
		<http:listener doc:name="Listener" doc:id="66328b79-f3a1-401a-b0ea-bace8eb8278b" config-ref="HTTP_Listener_config" path="test"/>
		<set-payload value='"TESTING APIS"' doc:name="Set Payload" doc:id="130db229-3743-419f-9f43-fbc32d4df7bf" />
		<logger level="INFO" doc:name="Logger" doc:id="60c8a30e-4c0f-4375-9771-3b1fb42a8874" message="#[payload]"/>
	</flow>
</mule>
